<html>

    <head>
        <title>
            Resume
        </title>
        <link href="//db.onlinewebfonts.com/c/cae9571407321e5d5e496ada719e9f63?family=Pixel" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="container ">
            <div class="contact">
                <div class="contact-item">
                    <h1>
                        Emmanuel Adoyi
                    </h1>
                    <h3>
                        Backend Developer<link rel="preconnect" href="https://fonts.googleapis.com">
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
                    </h3>
                </div>
                <a class="contact-item" href="emmanueladjerry@gmail.com">
                    Email : emmanueladjerry@gmail.com</a>
                    <a class="contact-item" href='https://www.github.com/Emmzy17'>
                        Github
                    </a>
                <p class="contact-item">
                    Phone: +2348164828761
                </p>
            </div>
            <h2>
                About
            </h2>
            <p>
                I am a self taught software engineer and an aspiring fullstack engineer with passion for building
                            applications and bring new innovations into life
            </p>
            <h2>
                Skills
            </h2>
            <ul>
                <li>
                    Flask
                </li>
                <li>
                    Javascript
                </li>
                <li>
                    Python
                </li>
            </ul>
            <h2>
                Projects
            </h2>
            <ul>
                <li>
                    Mini Blog
                </li>
                <p>Built a simple mini blog with flask
                </p>
            </h2>
            <li>
                Weather App
            </li>
            <p>
                Built a weather app that will display the weather with respect to your current location
            </p>
        </ul>
        <h2>
            Education
        </h2>
        <p>
            Federal University of Technology, Minna (FUTMINNA)</P>
        <P>
            B.Tech Industrial Technology Education (ITE)
        </p>
        <h2>
            Contact Me
        </h2>
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            <div class="email-field">
                {{ form.name.label }}:
                {{ form.name }}
            </div>
            <div class="email-field">{{ form.email.label }}:
                {{ form.email }}
            </div>
            <div class="email-field">{{ form.subject.label }}:
                {{ form.subject }}
            </div>
            <div class="email-field">{{ form.message.label }}:
                <div>
                    {{ form.message(rows='10', cols='60') }}
                </div>
            </div>
            <div>{{ form.submit }}
            </div>
        </form>
    </body>
</html></div></body></html>
